<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>exam</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>examServlet</display-name>
    <servlet-name>examServlet</servlet-name>
    <servlet-class>com.augmentum.exam.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>examServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.augmentum.exam.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomServlet</display-name>
    <servlet-name>WelcomServlet</servlet-name>
    <servlet-class>com.augmentum.exam.servlet.WelcomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SaveQuestion</display-name>
    <servlet-name>SaveQuestion</servlet-name>
    <servlet-class>com.augmentum.exam.servlet.SaveQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveQuestion</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
</web-app>